---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description=""
	pubDate={new Date('November 03 2023')}
	heroImage="logo.png"
>
	<p>
		West Houston Web is a web company built to support your web needs. We specialize in web design,
		 SEO optimization, responsive web designs, web speed optimization, content management system(CMS),
		 web accessibility, e-commerce development and web analytics/performance tracking.
	</p>

</Layout>
